#app3 {
}
#app3 .square {
  margin-top: 10vh;
  margin-left: 10vw;
  width: 10vw;
  height: 10vh;
  border: gray solid 1px;
  transition: transform 1s;
}
#app3 .square.active {
  transform: translateX(20vw);
}
